<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shorticon" href="public/picture/logo.ico">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>  
    <h1>firebase에서 응답한 결과입니다.</h1>
    <h1>
        name: <%= name%>
    </h1>
    <h1>
        age: <%= age%>
    </h1>
    <h1>
        point: <%= point%>
    </h1>
    <h1>
        image: <%= image%>
    </h1>
</body>
</html>